## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [37]:
import pandas as pd
import numpy as np

### Initial Country and People data

In [84]:
conutry = ['China', 'Hong Kong', 'Japan', 'South Korea', 'Taiwan']
people =  np.random.rand(5).round(6)*1e6

### Creating data structure by using DataFrame

In [85]:
data = {'國家': conutry,
        '人口': people}
data1 = pd.DataFrame(data)
data1

            國家        人口
0        China  510172.0
1    Hong Kong   21986.0
2        Japan  615732.0
3  South Korea  238781.0
4       Taiwan  315016.0

### Creating data structure by using Series

In [62]:
data2 = pd.Series(data = people, index = country)
data2

China          324098.0
Hong Kong      930960.0
Japan           95765.0
South Korea    642955.0
Taiwan         346313.0
dtype: float64